
<div class="card">
    <div class="card-content">
        <h2><%= groupCard.name %> </h2>
        <!-- <p> <%= user.name %></p>
        <p> <%= groupCard.name %></p> -->
    </div>
        <div class="card-title">

            <a href = "/viewGroupTask/<%= groupCard.group_id %>" >
            <button class="btn" id ="btnViewGroup">
                View Group
              </button> 
            </a>
        </div>

  

    <div class = "cardButtons">
      
</div>
</div>
