<header>
    <link rel="stylesheet" href="/css/style.css">
    <nav>
        <div class="menu-icon">
            <!-- Menu icon -->
        </div>
        <div class="logo">
            <img src="\images\flat_app.png">
        </div>
        <!--Nav Bar-->
        <div class="navcontainer">
            <nav class="navbar">
                <ul>
                    <li><a href="/viewYourTask">Homepage</a></li>
                    <li><a href="/viewGroupPage">Group Homepage</a></li>
                    <li><a href="/createTask">Create Task</a></li>
                    <li><a href="/createGroup">Create Group</a></li>
                </ul>
            </nav>
        </div>
        <div class="login">
          <!-- Button to redirect user to a new page for signing in -->
          <a href="/login">
            <button type="">Sign In</button>
          <a>
        </div>
    </nav>
</header>