<header>
    <nav>
        <div class="menu-icon">
            <!-- Menu icon -->
        </div>
        <div class="logo">
            <img src="public\images\flat_app.png">
        </div>
        <!--Nav Bar-->
        <div class="navigationbar">
            <ul>
                <li><a href="/viewYourTask">Homepage</a></li>
                <li><a href="/viewGroupPage">Group Homepage</a></li>
                <li><a href="/createTask">Create Task</a></li>
                <li><a href="/createGroup">Create Group</a></li>
            </ul>
        </div>
        <div class="login">
          <!-- Button to redirect user to a new page for signing in -->
          <button type="">Sign In</button>
        </div>
    </nav>
</header>