<div class="navbar">
    <a href="http://localhost:8080/"><img src="/images/flat_app.png" class="logo" alt="Flat App Logo"></a>
    <a href="/login" class="login-container"><button class="btn">Login <img src="https://i.imgur.com/DMrnU5d.png" alt="Login Icon"></button></a>
</div>