<div class="navbar">
    <img src="/images/flat_app.png" class="logo" alt="Flat App Logo">
    <a href="/createAccount" class="login-container"><button class="btn">Create Account <img src="https://i.imgur.com/DMrnU5d.png" alt="Login Icon"></button></a>
</div>