<!DOCTYPE html>
<html lang="en">
    <head><%- include('partials/heading.ejs') %></head>
<body>
    <!-- Animated Background -->
    <%- include('partials/animation.ejs') %>

    <!-- Top Navigation -->
    <%- include('partials/navigation2.ejs') %>

    <!-- Main Content -->
    <div class="main-content">

        <div class="userHomePageTitle"
        style="text-align: center; margin-top:80px; font-family: Roboto, sans-serif; font-weight: 200;">
        <h1>404 Page - error
        </h1>
    </div>

        <!-- <div class="text-container" >
                <text x="50%" y="50%" dy=".35em"  font-size="300px" lengthAdjust="spacing" text-anchor="middle">
            404 - Page error
                </text>
           
        </div>
        <div class="text-container2">
                <text x="50%" y="50%" dy=".35em"  lengthAdjust="spacing" text-anchor="middle">
            Please go back to home page
                </text>
        </div> -->
    </div>
</body>
</html>
  