<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <title>Flat App</title>
</head>
<body>
    <!-- Animated Background -->
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <!-- Top Navigation -->
    <div class="navbar">
        <img src="/images/flat_app.png" class="logo" alt="Flat App Logo">
        <a href="/createAccount" class="login-container"><button class="btn">Create Account <img src="https://i.imgur.com/DMrnU5d.png" alt="Login Icon"></button></a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="text-container">
            <h2>Add New Member</h2>
            <form class="submitFormCreateAccount" action="/addMember" method="POST">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
                
                <label for="group">Select Group</label>
                <% if (error) { %>
                    <p>No User available</p>
                <% } %>
                <select id="group" name="group" required>
                    <% for (let i = 0; i < groups.length; i++) { %>
                        <option value="<%= groups[i].group_id %>"><%= groups[i].name %></option>
                    <% } %>
                </select>

                <div class="button-container">
                    <button type="button" onclick="history.back()">Back</button>
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
