<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header")-%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link rel="stylesheet" href="/css/zaraHomepage.css"> <!-- Assuming you have a separate CSS file -->

</head>

<body>
    <nav>
        <!-- navigation links will be added here -->
    </nav>
    <main>
        <h1>Create Task</h1>
        <form action="/create/GroupTask" method="POST">
            <label for="taskName">Task Name:</label>
            <input type="text" id="taskName" name="taskName" value=""  required = "" >

            <label for="description">Description:</label>
            <textarea id="description" name="description" value=""  required = ""></textarea>

            <label for="selectGroup">Select Group</label> 
           
            <label for="dueDate">Due Date:</label>
            <input type="date" id="dueDate" name="dueDate" >

            <label for="assignee">Assignee:</label>
            <select id="selectAssignee" name="selectAssignee">
                <% members.forEach(member => { %>
                    <option value="<%= member.id %>"></option>
                <% }); %>
            </select>
            <input type="text" id="assignee" name="assignee" value="">

            <button type="submit">Create Task</button>
        </form>
        <a href="/back">Back</a>
    </main>
    <footer>
        <!--footer content will be added here -->
    </footer>
</body>

</html>
