<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <link rel="stylesheet" href="/css/zaraHomepage.css"> <!-- Assuming you have a separate CSS file -->

</head>

<body>
    <nav>
        <!-- navigation links will be added here -->
    </nav>
    <main>
        <h1>Create Task</h1>
        <form action="/createTask" method="POST">
            <label for="taskName">Task Name:</label>
            <input type="text" id="taskName" name="taskName" value=""  required = "" >

            <label for="description">Description:</label>
            <textarea id="description" name="description" value=""  required = ""></textarea>

            <label for="selectGroup">Select Group</label> <!-- select from already created group-->
            <select id="selectGroup" name="selectGroup">
                <% groups.forEach(group => { %>
                    <option value="<%= group.id %>"></option>
                <% }); %>
            </select>
            <button type="">Create New Group</button> <!--if a group has not been created redirect to create a new group-->

            <label for="dueDate">Due Date:</label>
            <input type="date" id="dueDate" name="dueDate" value="<%= dueDate %>">

            <label for="assignee">Assignee:</label>
            <input type="text" id="assignee" name="assignee" value="">

            <button type="submit">Create Task</button>
        </form>
        <a href="/back">Back</a>
    </main>
    <footer>
        <!--footer content will be added here -->
    </footer>
</body>

</html>
