<!DOCTYPE html>
<html>
    <%- include("partials/header")-%>
<head>
    <title>Create Task</title>
    <meta charset="UTF-8">
    <title> Create Task</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="/css/zaraHomepage.css">
</head>

<!--
    added at the top from partials
<header>
    <nav>
        <div class="menu-icon">
            !-- Menu icon --
        </div>
        <div class="logo">
            <img src="/images/flat_app.png">
        </div>
        <div class="login">
          !-- Button to redirect user to a new page for signing in --
          <button type="">Sign In</button>
        </div>
    </nav>
</header>
-->

<body>
    <main id="createTask">
    <div class="createTaskh1">
    <h1>Create Task</h1>
    </div>
    <form action="/create/createTask" method="POST">
        <div class="createTaskBody">
            <div class="taskName">
            <label for="taskName">Task Name:</label><br>
            <input type="text" id="taskName" name="taskName" required><br>
            </div>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description" rows="4" required></textarea><br>
        </div>
            <input type="submit" value="Create Task">
        
    </form>

    </main>

</body>
</html>