<!DOCTYPE html>
<html lang="en">
<head><%- include('partials/heading.ejs') %></head>
<body>
    <!-- Animated Background -->
    <%- include('partials/animation.ejs') %>

    <!-- Top Navigation -->
    <%- include('partials/navigation.ejs') %>

    <!-- Main Content -->
    <div class="main-content">
        <div class="text-container">
            
            <form class="submitFormCreateAccount" action="createIndividualTask" method="POST">
                <h1>Create Task</h1>
                <br>
                <fieldset class="taskFields">
                    <div class="formField">
                        <label for="taskName">Task Name:</label>
                        <input type="text" id="taskName" name="taskName" required>
                    </div>
            
                    <div class="formField">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" rows="4" required></textarea>
                    </div>
            
                    <div class="formField">
                        <label for="dueDate">Due Date:</label>
                        <input type="date" id="dueDate" name="dueDate" required>
                    </div>
            
                    <div class="formField">
                        <label for="assignee">Assignee:</label>
                        <input type="text" id="assignee" name="assignee">
                    </div>
                </fieldset>
            
                <div class="button-container">
                    <button class="button" id="submitBtnCreateGroup" type="submit">Create Task</button>
                </div>
            </form>
        </div>
        <div class="button-container">
            <div style="height: 40px; width:1px; position:relative;"></div>
            <a href="/userHomePage"><button  class="btn" id="backBtnCreateGroup">Back</button></a>
        </div>
    </div>
</body>
</html>