<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Account</title>
        <link rel="stylesheet" href="/css/zaraHomepage.css">
    </head>
    <header>
        <nav>
            <div class="menu-icon">
                <!-- Menu icon -->
            </div>
            <div class="logo">
                <img src="/images/flat_app.png">
            </div>
            <div class="login">
              <!-- Button to redirect user to a new page for signing in -->
              <button type="">Sign In</button>
            </div>
        </nav>
    </header>
    <body>
        <!-- To be included partials -->
        <main>
            <div class="split_left">
                <h1>Flat App</h1>
                <div class="logo img">
                    <img src="/images/logo04.png">
                </div>
            </div>
            <div class="split_right">
                <form action="/create-account" method="POST">

                    <p>Please enter the following information to create an Account</p>
                    <fieldset>
                        <div class="createAccField">
                        <label for="name">Name</label>
                        <input id="name" type="text" name="name"required>

                        <label for="phone-number">Phone Number</label>
                        <input id="phoneNumber" type="text" name="phone_number" required>

                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" required>

                        <label for="address">Address</label>
                        <input id="address" type="text" name="address" required>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="password">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" required>

                        <label for="confirm-password">Confirm Password</label>
                        <input id="passwordConfirm" type="password" name="confirm-password" required>
                        </div>
                    </fieldset>

                    <!-- Button to redirect user to a new page for signing in -->
                    <button type="">Sign In</button>
                    
                    <button type="submit">Create Account</button>

                </form>

            </div>            
        </main>
    </body>
</html>