<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Account</title>
        <!-- <link rel="stylesheet" href="/styles.css"> -->
    </head>
    <body>
        <!-- To be included partials -->
        <main>
            <div>
                <form action="/create-account" method="POST" enctype="multipart/form-data">

                    <p>Please enter the following information to create an Account</p>
                    <fieldset>
                        <label for="name">Name</label>
                        <input id="name" type="text" name="first-name"required>

                        <label for="phone-number">Phone Number</label>
                        <input id="phoneNumber" type="text" name="phone-number" required>

                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" required>

                        <label for="address">Address</label>
                        <input id="address" type="text" name="address" required>

                    </fieldset>

                    <fieldset>
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" required>

                        <label for="confirm-password">Confirm Password</label>
                        <input id="passwordConfirm" type="password" name="confirm-password" required>
                    </fieldset>

                    <!-- Button to redirect user to a new page for signing in -->
                    <button type="">Sign In</button>
                    
                    <button type="submit">Create Account</button>

                </form>

            </div>            
        </main>
    </body>
</html>