<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the home page</h1>
   
  </body>

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Flat App</title>
      <link rel="stylesheet" href="styles.css"> 
  </head>
  <body>
      <header>
          <nav>
              <div class="menu-icon">
                  <!-- Menu icon -->
              </div>
              <div class="logo">
                  <img src="flat_app.png">
              </div>
              <div class="login">
                <!-- Button to redirect user to a new page for signing in -->
                <button type="">Sign In</button>
              </div>
          </nav>
      </header>
      <main>
          <section id="features">
              <div class="create-task">
                  <a href="\Users\Zara\OneDrive\Desktop\UNI2024\SEM01\info310\project2024\WeAreNumber1\views\images\icon_for_a_checklist_0.png">
                      <img src="icon_for_checklist_0.png">
                      <button type="">Create a Task</button>
                    <!-- Button to redirect user to a new page for signing up -->
                  </a>
              </div>
              <div class="free-account">
                  <a href="C:\Users\Zara\OneDrive\Desktop\UNI2024\SEM01\info310\project2024\WeAreNumber1\views\images\logo04.png">
                      <img src="logo04.png">
                      <!-- Button to redirect user to a new page for signing up -->
                      <button type="">Create a Free Account</button>   
                  </a>
              </div>
              <div class="create-group">
                  <a href="C:\Users\Zara\OneDrive\Desktop\UNI2024\SEM01\info310\project2024\WeAreNumber1\views\images\icon_for_creating_a_group.png">
                      <img src="icon_for_creating_a_group.png">
                      <!-- Button to redirect user to a new page for createGroup -->
                      <button type="">Create a Group</button>
                  </a>
              </div>
          </section>
          <section id="about">
              <h2>About</h2>
              <p>Flat App: Simplifying Shared Living. Our app streamlines chore management in shared spaces, ensuring tasks are done on time with minimal effort. We're the best choice because we offer a user-friendly interface, smart reminders, and flexible scheduling options, making chore management a breeze for everyone.</p>
          </section>
      </main>
      <footer>
          <!-- Footer content -->
      </footer>
  </body>
  </html>
  