<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the home page</h1>
   
  </body>

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Flat App</title>
      <link rel="stylesheet" href="styles.css"> 
  </head>
  <body>
      <header>
          <nav>
              <div class="menu-icon">
                  <!-- Menu icon -->
              </div>
              <div class="logo">
                <a href="C:\Users\Zara\OneDrive\Desktop\UNI2024\SEM01\info310\project2024\WeAreNumber1\views\images\images\flat_app.png">
                  <img src="flat_app.png" alt="Flat App Logo">
                  <h1>Flat App</h1>
                </a>
              </div>
              <div class="login">
                  <a href="#">Log In</a>
              </div>
          </nav>
      </header>
      <main>
          <section id="features">
              <div class="create-task">
                  <a href="C:\Users\Zara\OneDrive\Desktop\UNI2024\SEM01\info310\project2024\WeAreNumber1\views\images\images\icon_for_a_checklist_0.png">
                      <img src="icon_for_checklist_0" alt="Create Task Icon">
                      <h3>Create Task</h3>
                  </a>
              </div>
              <div class="free-account">
                  <a href="C:\Users\Zara\OneDrive\Desktop\UNI2024\SEM01\info310\project2024\WeAreNumber1\views\images\images\logo04.png">
                      <img src="logo04.png" alt="Free Account Icon">
                      <h3>Create a FREE Account</h3>
                  </a>
              </div>
              <div class="create-group">
                  <a href="C:\Users\Zara\OneDrive\Desktop\UNI2024\SEM01\info310\project2024\WeAreNumber1\views\images\images\icon_for_creating_a_group.png">
                      <img src="icon_for_creating-a_group.png" alt="Create Group Icon">
                      <h3>Create a Group</h3>
                  </a>
              </div>
          </section>
          <section id="about">
              <h2>About</h2>
              <p>Flat App: Simplifying Shared Living. Our app streamlines chore management in shared spaces, ensuring tasks are done on time with minimal effort. We're the best choice because we offer a user-friendly interface, smart reminders, and flexible scheduling options, making chore management a breeze for everyone.</p>
          </section>
      </main>
      <footer>
          <!-- Footer content -->
      </footer>
  </body>
  </html>
  