  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Flat App</title>
      <link rel="stylesheet" href="/css/zaraHomepage.css"> 
  </head>
  <body>
      <header>
          <nav>
              <div class="menu-icon">
                  <!-- Menu icon -->
              </div>
              <div class="logo">
                  <img src="/images/flat_app.png">
              </div>
              <div class="login">
                <!-- Button to redirect user to a new page for signing in -->
                <a href="/login">
                  <button type="">Sign In</button>
                <a>
              </div>
          </nav>
      </header>
      <main>
          <section id="features">
              <div class="create-task">
                <img src="/images/icon_for_a_checklist_0.png">
                  <a href="/createTask">
                      
                      <button type="">Create a Task</button>
                    <!-- Button to redirect user to a new page for signing up -->
                  </a>
              </div>
              <div class="free-account">
                <img src="/images/logo04.png">
                  <a href="/createaccount">
                      
                      <!-- Button to redirect user to a new page for signing up -->
                      <button type="">Create a Free Account</button>   
                  </a>
              </div>
              <div class="create-group">
                <img src="/images/icon_for_creating_a_group.png">
                  <a href="/creategroup">  
                      <!-- Button to redirect user to a new page for createGroup -->
                      <button type="">Create a Group</button>
                  </a>
              </div>
          </section>
          <section id="about">
              <h2>About</h2>
              <p>Flat App: Simplifying Shared Living. Our app streamlines chore management in shared spaces, ensuring tasks are done on time with minimal effort. We're the best choice because we offer a user-friendly interface, smart reminders, and flexible scheduling options, making chore management a breeze for everyone.</p>
          </section>
      </main>
      <footer>
          <!-- Footer content -->
      </footer>
  </body>
  </html>
  