<!DOCTYPE html>
<html lang="en">
    <head><%- include('partials/heading.ejs') %></head>
<body>
    <!-- Animated Background -->
    <%- include('partials/animation.ejs') %>

    <!-- Top Navigation -->
    <%- include('partials/navigation2.ejs') %>

    <!-- Main Content -->
    <div class="main-content">
        <%- include('partials/components/tripleImages.ejs') %>
        <div class="text-container">
            <svg id="animation1" viewBox="0 0 1000 100">
                <text x="50%" y="50%" dy=".35em"  lengthAdjust="spacing" text-anchor="middle">
                    Flat App simplifies shared living. 
                </text>
            </svg>
        </div>
        <div class="text-container2">
            <svg id="animation2" viewBox="0 0 1000 100">
                <text x="50%" y="50%" dy=".35em"  lengthAdjust="spacing" text-anchor="middle">
                    What can it do for you?
                </text>
            </svg>
        </div>
    </div>
</body>
</html>
  