<!DOCTYPE html>
<html lang="en">
    <head><%- include('partials/heading.ejs') %></head>
<body>
    <!-- Animated Background -->
    <%- include('partials/animation.ejs') %>

    <!-- Top Navigation -->
    <div class="navbar">
        <img src="/images/flat_app.png" class="logo" alt="Flat App Logo">
        <a href="/login" class="login-container"><button class="btn">Login <img src="https://i.imgur.com/DMrnU5d.png" alt="Login Icon"></button></a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <%- include('partials/components/tripleImages.ejs') %>
        <div class="text-container">
            <svg id="animation1" viewBox="0 0 1000 100">
                <text x="50%" y="50%" dy=".35em"  lengthAdjust="spacing" text-anchor="middle">
                    Flat App simplifies shared living. 
                </text>
            </svg>
        </div>
        <div class="text-container2">
            <svg id="animation2" viewBox="0 0 1000 100">
                <text x="50%" y="50%" dy=".35em"  lengthAdjust="spacing" text-anchor="middle">
                    What can it do for you?
                </text>
            </svg>
        </div>
        <%- include('partials/components/signUp.ejs') %>
    </div>
</body>
</html>
  