  <!DOCTYPE html>
  <html lang="en">
  <!--%- include("partials/header")-%  (this can be comented out once css for nav bar/header is added ) -->
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="/css/style.css"> 
      <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">

      <title>Flat App</title>
      
  </head>
  <body>
    <!-- Stuff for animation -->
    <!-- <div>
        <div style="width:80px; height:15px; position: absolute; right:10px; top:20px; background-color: aliceblue; border-radius: 25px;"></div>
        <div style="width:80px; height:15px; position: absolute; right:10px; top:45px; background-color: aliceblue; border-radius: 25px;"></div>
        <div style="width:80px; height:15px; position: absolute; right:10px; top:70px; background-color: aliceblue; border-radius: 25px;"></div>
    </div> -->

    <div class="area">
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
    </div>

    <!-- Top Navigation -->
    <a href="/login">
    <div style="background-color: rgba(255, 255, 255, 0.42); width: 100vw; height: 8vh; position: absolute; top: 0px; left:0px;">
        <img src="/images/flat_app.png" style="position: absolute; top:-40px; width: 300px;">
        <button style="position: absolute; right: 2vw; top: 30px;" class="btn">Login <img src="https://i.imgur.com/DMrnU5d.png" style="width:20px; margin-left:0px; margin-right:6px; flex-direction: row-reverse;"></button>
    </div>
    </a>


    <div style=" position: absolute; top: 20vh; width: 80vw; height: 60vh; left: 10vw; border-radius: 100px;">
        <div style="position: absolute; left:25vw; display: flex; justify-content: center;">
            <img style="width:30vw; border-radius: 50px; " src="/images/icon_for_a_checklist_0.png">
        </div>
        <div style="position: absolute; left:0vw; display: flex; justify-content: center;">
            <img style="width:20vw; border-radius: 50px; " src="/images/icon_for_creating_a_group.png">
        </div>
        <div style="position: absolute; left:60vw; display: flex; justify-content: center;">
            <img style="width:20vw; border-radius: 50px; " src="\images\logo04.png">
        </div>
        <div style=" width:100%; position:absolute; top: 400px;" class="wrapper">
            <svg id="animation1">
                <text x="50%" y="50%" dy=".35em"  lengthAdjust="spacing" text-anchor="middle">
                    Flat App simplifies shared living. 
                </text>
            </svg>
            <div style=" width:100%; position:absolute; top: 60px;" >
                <svg id="animation2">
                    <text x="50%" y="50%" dy=".35em"  lengthAdjust="spacing" text-anchor="middle">
                        What can it do for you?
                    </text>
                </svg>
            </div>
            <a href="/createAccount">
            <div style="margin:0 auto;  display:block; position: absolute; left:33vw; top: 200px;">
                <button id="animation3" style=" right: 2vw; top: 5vh;" class="btn">Sign Up </button>
            </div>
            </a>
        </div>
    </div>
    
 
    
    
    
    

  </body>
  </html>
  