<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the home page</h1>
   

    <main id="users">
        <h1>Users</h1>
        <ul>
            <% users.forEach(function(user) { %>
            <li>
                <h2><%= user.name %></h2>
                <p><%= user.email %></p>
            </li>
            <% }); %>
        </ul>
      
    </main>
  </body>


</html>