<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the home page</h1>

  <div>
    <ul>
            <li><b>User's Name </b><span><%= users.name %></span></li>
            <li><b>User's Address </b><span><%= users.address %></span></li>
            <li><b>User's Phone Number </b><span><%= users.phone_number %></span></li>


        </ul>
  </div>


  <div>
    <ul>
            <li><b>Groups's Name </b><span><%= groups.name %></span></li>
        </ul>
  </div>

  </body>
</html>
