<!DOCTYPE html>
<html>
  <%- include("partials/header")-%>
  <head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/dyrelStyle.css">

</head>
  </head>
  <body>
    <h1>Welcome to the home page</h1>

    <div>
      <h2>User</h2>
 


     

    
    
 

  </div>


  <div> 
    <h2>Tasks</h2>
 
  </div>

 

  <div> 
    <h2>Groups</h2>

    <main id="groups">
      <% for (let i = 0; i < groups.length; i++) { %>
        <div class="group">
          <h3><%= groups[i].name %></h3>
          <p><%= groups[i].description %></p>
        </div>
        
      <% } %>
  </main>
    
  </div>
  </body>
</html>
