<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the home page</h1>
   

    <main id="users">
        <h1>Users</h1>
        <ul>
      
        </ul>
      
    </main>

    <p id = "groups">
   

    </p>
  </body>


</html>