/* ANIMATION STUFF */

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:0vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

/*Nav Bar*/

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: rgb(69, 154, 218);
    padding: 5px 0;
    overflow: hidden;
    border-radius: 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #a5caf3;
    border-radius: 30px;
}

.navbar li{
    float: left;
}

.area{
    background: rgb(11,52,84);
background: linear-gradient(0deg, rgba(11,52,84,1) 2%, rgba(118,191,250,1) 100%);
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* Buttons */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
    
    .btn{
    
    font-family: Roboto, sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(153deg, #cde7ff 0%, #1562ba 100%);
    padding: 10px 30px;
    border: solid #ffffff 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    cursor: pointer;

    }
    
    .btn:hover{
    
    transition : 1000ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background: linear-gradient(153deg, #cde7ff 0%, #1562ba 100%);
    color: #ffffff;
    border: solid 2px white;
    }

    /* Text Animation */

    @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
#animation1 {
	animation: stroke 4s  alternate;
	stroke-width: 2;
	stroke: #cbc7c7;
    fill: rgba(255,255,255,1);
	font-size: calc(20px + 1.5vw);
    stroke-dashoffset: -25%;
    animation-iteration-count: 1;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
}

#animation2 {
	stroke-width: 2;
	stroke: #cbc7c7;
    fill: rgba(255, 255, 255, 0);
	font-size: calc(20px + 1.5vw);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
    animation: fadeIn ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#animation3 {
    opacity: 0%;
    animation: fadeIn2 ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes stroke {
	0%   {
		fill: rgba(255,255,255,0); stroke: rgb(0, 0, 0);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(255,255,255,0); stroke: rgb(0, 0, 0); }
	80%  {fill: rgba(255,255,255,0); stroke: rgb(0, 0, 0); stroke-width: 3; }
	100% {
		fill: rgba(255,255,255,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

@keyframes fadeIn {
    0% {fill: rgba(255, 255, 255, 0);}
    50% {fill: rgba(255, 255, 255, 0);}
    100% {fill: rgba(255, 255, 255, 1);}
}

@keyframes fadeIn2 {
    0% {opacity: 0%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}

/* footer */
.footercontainer {
    background-color: #333; /* Dark background color for the footer */
    color: #fff; /* White text color */
    text-align: center; /* Center align text */
    padding: 10px 0; /* Add padding top and bottom */
    position: fixed; /* Fixed position at the bottom */
    width: 100%; /* Full width */
    bottom: 0; /* Stick to the bottom */
}

footer p {
    margin: 0; /* Remove default margin */
    color: red;
}
