<div class="image-container">
    <img src="/images/icon_for_creating_a_group.png" class="side-image left">
    <img src="/images/icon_for_a_checklist_0.png" class="main-image">
    <img src="/images/logo04.png" class="side-image right">
</div>